* {
  margin:0px;
  padding:0px;
  font-family: monospace;
}

H1 { text-align: center; }

p.pCenter {
  display: block;
  width: 400px;
  margin: 50px auto;
}

#idDivMain {
  width: 400px;
  margin: 0 auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: gray;
}
